.col{
    border: 2px solid orange;
}


.nav-bar{
    margin: 70% 10%;
}

.nav-bar a{
    text-decoration: none;
}

.titulo-principal{
    text-align: center;
}

.titulo-secundario{
    text-align: center;
}

.perfil-programador{
    text-align: center;
}

.titulo-footer{
    text-align: center;
}

.parrafo-footer{
    text-align: center;
}

.nav-bar-footer a{
    text-decoration: none;
}

.mountaincode{
    height: 230px;
    width: 230px;
    margin-left: 25%;
}

.bootcamparg{
    height: 230px;
    width: 230px;
    margin-left: 25%;
}