.titleRed{
    text-align: center;
    font-size: 2rem;
}

.contRedImg{
    display: flex;
    justify-content: space-around;
    padding: 1% 0%;
}

.ImgCotac{
    opacity: 0.5;
    cursor: pointer;
}

.ImgCotac:hover{
    transition: 1s;
    opacity: 1;
}