bodyMainIntro{
    height: 100vh;
    color: white;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/992/754/421/pixel-art-8-bit-retro-games-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}