.cuerpo-sobremi{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.c-cartas{
    margin: 1%;
    border: 2px solid grey;
    border-radius: 15px;
}

.titulo-sobremi{
    text-align: center;
    margin: 3%;
}

.txt_sobre_mi{
    text-align: justify;
}