.cuerpo-tec{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.title-tec{
    text-align: center;
    margin-bottom: 2%;
}

.carta-cuerpo{
    margin-left: 2%;
    margin: auto;
    max-width: 80%;
}