/* Cuerpo Home pagina */

.bodyHome{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: linear-gradient(160deg, #ffe056 0, #ffce46 16.67%, #ffb62e 33.33%, #f29700 50%, #e47700 66.67%, #dc5b00 83.33%, #d94300 100%);
    /* background-image: url(https://images2.alphacoders.com/111/1114362.png); */
    /* background-image: url(https://c4.wallpaperflare.com/wallpaper/992/754/421/pixel-art-8-bit-retro-games-wallpaper-preview.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* color: rgb(44, 34, 14); */
    color: rgb(225, 225, 225);
    gap: 1%;
}

/* ----------------------------------- */

.contTitleWelcome{
    text-shadow: 4px 4px 7px rgba(0,0,0,0.6);
}

.tintleHome{
    text-align: center;
    font-size: 4rem;
}

.subTitleHome{
    text-align: center;
    font-size: 1.5rem;
    
}

/* ----------------------------------- */
/* Contenedor general Home */

.contHome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

/* ----------------------------------- */
/* Carta izquierda */

.cardHome1{
    border: 1px solid black;
    background-color: #232323f0;
    width: 20vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 15px;
    padding: 1%;
    height: 25rem;
    box-shadow: 11px 13px 40px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 11px 13px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 13px 40px 0px rgba(0,0,0,0.75);
}


/* ------------------------------------ */
/* Carta derecha */

.cardHome2{
    background-color: #232323f0;
    border-radius: 15px;
    width: 70vw;
    height: 75vh;
    padding: 1%;
    box-shadow: 11px 13px 40px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 11px 13px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 13px 40px 0px rgba(0,0,0,0.75);
}

/* ------------------------------------------- */

@media screen and (max-width: 540px) and (min-width: 180px) {
    
    .bodyHome{
        padding-bottom: 5%;
    }

    .contHome{
        flex-direction: column;
        gap: 2%;
    }

    .cardHome1{
        width: 75vw;
        height: 20rem;
    }

    .cardHome2{
        width: 90vw;
        height: auto;
        padding: 3%;
    }


}