.contNavBar{
    display: flex;
    justify-content: end;
    gap: 15px;
    padding: 1% 2%;
}

.btnNav{
    text-decoration: none;
    padding: 1.5% 3.5%;
    background-image: url(https://img.freepik.com/premium-vector/seamless-pattern-wooden-boards-vector-illustration_630763-140.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1697587200&semt=ais);
    border-radius: 5px;
    color: white;

}
.btnNav:hover{
    transition: 1s;
    transform: scale(1.1,1.1);
}