

.appi {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main{
    display: flex;
    flex-grow: 1;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #232323f0;
}

.nav{
    width: 50vw;
}

.btnShowMenu{
    background-color: rgba(35, 35, 35, 0.224);
    display: flex;
    justify-content: center;
}

.outlet{
    width: 100%;
    color: white;
}


