.appi {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-image: url(https://initiate.alphacoders.com/images/131/stretched-3840-2160-1318817.jpg?556); */
    background-image: url(https://images2.alphacoders.com/692/692166.jpg);
    background-image: url(https://images3.alphacoders.com/929/929912.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main{
    display: flex;
    flex-grow: 1;
}

.nav{
    position: fixed;
    bottom: 50%;
}

.outlet{
    /* border: 2px solid brown; */
    width: 100%;
    padding: 1.5%;
}


